.header {
  padding: 12px 16px;
  background-color: $darkgray;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

@media screen and (min-width: 1024px) {
  .header {
    flex-wrap: nowrap;
    @extend %paddingCalc;
  }
}
