.rep-search {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;

  &__input--search {
    margin-top: 5px;
    order: 2;
    min-width: 270px;
    flex-grow: 1;
    font-family: $HelveticaRegular;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: $text_gray;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
    border-radius: 2px;
    border: $borderGray;
  }

  &__wrapper {
    position: relative;
    order: 0;
    flex-grow: 1;
    width: calc(50% - 45px);
  }

  &__wrapper::before {
    position: absolute;
    content: "Type:";
    font-family: $HelveticaRegular;
    font-size: 14px;
    line-height: 16px;
    color: $text_gray;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 12px;
  }

  &__wrapper:last-child {
    margin-left: 5px;
  }

  &__wrapper:last-child::before {
    content: "Language:";
    display: inline-block;
  }

  &__select {
    box-sizing: border-box;
    width: 100%;
    padding-left: 45px;
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
    padding-bottom: 2px;
    color: $text_gray;
    border: $borderGray;
    border-radius: 2px;
    background-image: linear-gradient(#F9FAFB,#D8D8D8);
  }

  &__wrapper:last-child .rep-search__select {
    padding-left: 77px;
  }

  &__option {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: $text_gray;
  }

}

@media screen and (min-width: 768px) {

  .rep-search {
    flex-wrap: nowrap;
    text-align: left;

    &__input--search {
      margin-top: 0;
      order: 0;
      min-width: 145px;
      max-width: 145px;
      margin-right: 5px;
    }

    &__wrapper {
      width: auto;
      flex-grow: 0;
    }

    &__select {
      width: auto;
    }

  }

}
