.search-form {
  padding: 16px 0 16px 0;
  border-top: 1px solid #444d56;
  border-bottom: 1px solid #444d56;;

  &__button {
    display: none;
  }

  &__input {
    padding: 6px 8px;
    background: none;
    border: 0;
    min-height: 30px;
    font-size: 16px;
    line-height: 20px;
    width: 100%;
    border-radius: 3px;
    color: white;
    background-color: $bg_gray;

      &:focus,
      &:hover {
        background-color: $Cfocus;
      }
    }

}

@media screen and (min-width: 1024px) {

    .search-form {
      border: none;
      padding-top: 0;
      padding-bottom: 0;
      display: flex;

      &__button {
        border: none;
        display: block;
        @extend %Helvetica12px;
        color: $select-color;
        font-weight: bold;
        background-color: $bg_search;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        margin-right: 2px;
        padding-left: 15px;
        padding-right: 15px;
        white-space: nowrap;

        &:focus,
        &:hover {
          background-color: $Cfocus;
        }
      }

      &__input {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        @extend %Helvetica12px;
        font-weight: bold;
      }

    }

}
