.article {
  background-repeat: no-repeat;
  background-position: 43% 10%;
  margin-left: 20px;
  margin-right: 20px;

  &__wrapper {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  @for $i from 1 through 3 {
    &:nth-child(#{$i})::before {
      display: inline-block;
      content: "0#{$i}";
      float: left;
      top: 0;
      @include font($ubuntu-m, 90px, 75px, $tLightGray);
    }

    &:nth-child(#{$i}) {
      background-image: url('../img/sprite2/#{$i}.png');
      background-position-y: 12px;
    }
  }

  &__title {
    padding-top: 51px;
    text-indent: 5px;
    @include font($ubuntu-m, $h3Size, 24px, $cGrayStrong);
  }

  &__dscr {
    padding-top: 20px;
    word-spacing: 2px;
    @include font($Arial, $pSize13, 15px, $cGrayLight);
  }

  &__button {
    margin-top: 20px;
    float: right;
    border: none;
    background-color: transparent;
    @include font($ubuntu-m, $pSize13, 15px, $cGrayStrong);

    &:after {
      display: inline-block;
      content: "\2192";
      color: $tBlue;
      text-indent: 5px;
    }

    &:hover,
    &:focus {
      color: $tBlue;

      &:after {
        color: $tLightBlue;
      }

    }
  }

  &__fix {
    &:after {
      clear: both;
      display: block;
      content: '.';
      height: 0;
      overflow: hidden;
    }
  }

}

@media screen and (min-width: 375px) {

  .article {

    &__title {
      text-indent: 27px;
    }
  }

}

@media screen and (min-width: 375px) {

  .article {
    background-position-x: 130px;
  }

}

@media screen and (min-width: 768px) {

  .article {

    &__wrapper {
      display: flex;
    }

    &__title {
      padding-top: 10px;
      text-indent: 0px;
      clear: both;
    }


  }

}
