.article {
  background-repeat: no-repeat;
  background-position: 43% 10%;

  @for $i from 1 through 3 {
    &:nth-child(#{$i})::before {
      display: inline-block;
      content: "0#{$i}";
      float: left;
      top: 0;
      @include font($ubuntu-m, 90px, 75px, $tLightGray);
    }

    &:nth-child(#{$i}) {
      background-image: url('../img/sprite2/#{$i}.png');
    }
  }

  &__title {
    padding-top: 51px;
    text-indent: 5px;
    @include font($ubuntu-m, $h3Size, 24px, $cGrayStrong);
  }

  &__dscr {
    padding-top: 20px;
    word-spacing: 2px;
    @include font($Arial, $pSize13, 15px, $cGrayLight);
  }

  &__button {
    margin-top: 20px;
    float: right;
    border: none;
    background-color: transparent;
    @include font($ubuntu-m, $pSize13, 15px, $cGrayStrong);

    &:after {
      display: inline-block;
      content: "\2192";
      color: $tBlue;
      text-indent: 5px;
    }

    &:hover {
      color: $tBlue;

      &:after {
        color: $tLightBlue;
      }

    }
  }

  &__fix {
    &:after {
      clear: both;
      display: block;
      content: '.';
      height: 0;
      overflow: hidden;
    }
  }

}
