.banners {
  padding-top: 20px;
  padding-bottom: 20px;

  &__title {
    @include font($ubuntu-m, $h2Size, 28px, $bgDarkBlue);
    text-align: center;
  }

  &__details {
    margin-top: 5px;
    -webkit-appearance: none;
  }

  &__summary {
    position: relative;
    border: $bdLightGray;
    text-transform: uppercase;
    box-sizing: border-box;
    @include font($ubuntu-m, $pSize13, 15px, $bgDarkBlue);
    line-height: 37px;
    padding-left: 40px;
    text-indent: 10px;
    outline: none;
    cursor: pointer;

    &::-webkit-details-marker {
      display: none;
    }

  }

  &__summary:before {
    display: block;
    position: absolute;
    left: 0;
    text-align: center;
    content: "\002B";
    width: 39px;
    font-size: 20px;
    line-height: 37px;
    text-indent: 0;
    border-right: $bdLightGray;
  }

  &__details[open] &__summary {

    background-color: $tYellow;
    color: $tWhite;

    &:before {
      content: "\2212";
      color: $tWhite;
    }

  }

  &__dscr {
    margin-left: 42px;
    margin-bottom: 40px;
    @include font($Arial, $pSize13, 15px, $cGrayLight)
  }

}

@media screen and (min-width:768px) {

  .banners {
    padding-top: 0;
    width: calc(50% - 20px);

    &__title {
      margin-top: 0;
    }
  }

}

@media screen and (min-width: 1024px) {

  .banners {

    &__title {
      text-align: left;
      padding-bottom: 20px;
    }

  }

}
