.footer {
  background-color: $bgDarkBlue;
}

.list {
  padding-left: 20px;
  padding-right: 20px;
  list-style-type: none;

  &__section {
    padding-top: 30px;
  }

  &__title {
    text-align: center;
    @include font($ubuntu-m, $pSize16, 18px, $tWhite)
  }

  &__item {
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    border-bottom: $bdGray;
  }

  &__item--last-child {
    border-bottom: none;
  }

  &__link {
    text-decoration: none;
    @include font($Arial, $pSize13, 15px, $cFooterLi);

    &:hover,
    &:focus {
      color: $tBlue;
    }
  }
}

.address {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $bgDarkGray;

  &__item {
    position: relative;
    display: block;
    margin-top: 5px;
    padding-left: 22px;
    white-space: nowrap;
    font-style: normal;
    @include font($Arial, $pSize12, 14px, $cAddress);

    &::before {
      position: absolute;
      left: 0;
      display: block;
      content: '';
    }
  }

  &__item--last-child {
    margin-top: 25px;
    text-align: right;
  }
}
