.header {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.logo {

  &__img {
    float: left;
    margin-right: 11px;
  }

  &__title {
    @include font($ubuntu-m, $h1Size, 25px, $cGrayMedium);
    font-weight: 500;
  }

  &__dscr {
    @include font($ubuntu-l, $pSize12, 14px, $cGrayRegular);
    text-transform: uppercase;
    letter-spacing: 3.3px;
    text-indent: 2px;
  }
}

.media {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  max-width: 150px;

  &__item {

  }


  &__link {
    display: block;
    background-image: url('../img/sprite.png');
  }

}
