.header {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.logo {
  width: 80%;
  margin: 0 auto;

  &__img {
    float: left;
    margin-right: 11px;
  }

  &__title {
    @include font($ubuntu-m, $h1Size, 25px, $cGrayMedium);
    font-weight: 500;
  }

  &__dscr {
    @include font($ubuntu-l, $pSize12, 14px, $cGrayRegular);
    text-transform: uppercase;
    letter-spacing: 3.5px;
    text-indent: 2px;
  }
}

.media {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  max-width: 150px;
  margin: 0 auto;
  margin-top: 10px;

  &__link {
    vertical-align: middle;
    display: inline-block;
    background-image: url('../img/sprite.png');
  }

}
