.nav {
  right: 0;
  top: 0;
  width: 100%;
  position: fixed;
  display: none;
  z-index: 3;

  &:hover {
    display: block;
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }

  &__item {
    border-bottom: $bdDarkGray;
  }

  &__link {
    @include font($ubuntu-c, $pSize14, 16px, $tWhite);
    display: block;
    background-color: $bgDarkBlue;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 9px;

    &:hover, &:focus {
      color: $tYellow;
    }
  }

  &__button {
    width: 20px;
    height: 20px;
    position: fixed;
    right: 10px;
    top: 10px;
    border: none;
    padding: 0;
    background-color: transparent;
    z-index: 4;

    &:after {
      display: inline-block;
      position: absolute;
      text-align: center;
      content:"\2261";
      font-size: 30px;
      line-height: 20px;
      width: 100%;
      color: $cGrayStrong;
      top:0;
      right: 0;
    }

    &:focus + .nav {
      display: block;
    }

    &:hover:after {
      content: "\00D7";
      color: $tWhite;
    }

  }

}
