.nav {
  right: 0;
  top: 0;
  width: 100%;
  position: fixed;

  &__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }

  &__item {
    border-bottom: $bdDarkGray;
  }

  &__link {
    @include font($ubuntu-c, $pSize14, 16px, $tWhite);
    display: block;
    background-color: $bgDarkBlue;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 9px;
  }

  &__link:hover {
    color: $tYellow;
    background-color: $tBlue;
  }


}
