/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-email::before {
  background-repeat: no-repeat;
  background-image: url('../img/sprite3.png');
  background-position: 0px 0px;
  width: 16px;
  height: 13px;
}
.icon-location::before  {
  left: 1px;
  background-repeat: no-repeat;
  background-image: url('../img/sprite3.png');
  background-position: 0px -13px;
  width: 13px;
  height: 16px;
}
.icon-phone::before  {
  left: 2px;
  background-repeat: no-repeat;
  background-image: url('../img/sprite3.png');
  background-position: -16px 0px;
  width: 10px;
  height: 16px;
}
