$h1Size: 30px;
$h2Size: 24px;
$h3Size: 20px;

$pSize12: 12px;
$pSize13: 13px;
$pSize14: 14px;
$pSize16: 16px;

$tYellow: #f4b60d;
$tWhite: #fff;
$tLightGray: #efeff0;
$tBlue: #248cec;
$tLightBlue: #989fb3;

$cGrayLight: #8a8a8a;
$cGrayRegular: #8f8f8f; /* main title dscr */
$cGrayMedium: #434343; /* Main title */
$cGrayStrong: #2a2b2e; /* Latest News, Banners Place , Power Inside & etc.,*/
$cFooterLi: #828385;
$cSearchGray: #626466;

$bgDarkBlue: #2a2d32;
$bgDarkGray: #35383c;

$bdGray: 1px solid #393c40;
$bdDarkGray: 1px solid #181a1d;

$sprite1: url('../img/sprite.png');
$sprite2: url('../img/sprite2.png');
$sprite3: url('../img/sprite3.png');

$ubuntu-l: "Ubuntu-l", Arial , sans-serif;
$ubuntu-c: "Ubuntu-c", Arial , sans-serif;
$ubuntu-m: "Ubuntu-m", Arial , sans-serif;
$Arial: Arial, sans-serif;

@mixin sprite($w, $h, $bg-x, $bg-y, $sprite) {
  width: $w;
  height: $h;
  background-image: $sprite;
  background-position: $bg-x $bg-y;
  background-repeat: no-repeat;
}

@mixin font($fontF, $fontS, $fontH, $fontC) {
  font-family: $fontF;
  font-size: $fontS;
  line-height: $fontH;
  color: $fontC;
}
