@import url('fonts.css');

body {
  margin: 0;
  padding: 0;
}

.header {
  margin: 0;
  padding: 0;
  padding: 12px 16px;
  background-color: #24292E;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

.wrapper {
  margin: 0;
  padding: 0;
  margin-top: 13px;
  width: 100%;
  flex-grow: 1;
  order:2;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

.navigation {
  margin: 0;
  padding: 0;

  &__list {
    margin: 0!important;
    padding: 0!important;
    list-style-type: none;
    display: flex;
    flex-direction: column;
  }

  &__item {
    margin: 0;
    padding: 0;
    border-top: 1px solid #444d56;
    font-size: 16px;
  }

  &__link {
    display: block;
    margin: 0;
    padding: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    color: #fff;
    text-decoration: none;
    font-family: 'HelveticaRegular' , Arial, sans-serif;
    font-weight: 300;
  }
}

.menu-button {
    padding: 0;
    margin: 0;
    background: none;
    display: block;
    border: none;
    align-self: flex-end;

    &__img {
      padding: 0;
      margin: 0;
      fill: #fff;
    }

}

.search-form {
  padding: 16px 0 16px 0;
  border-top: 1px solid #444d56;
  border-bottom: 1px solid #444d56;;

  &__select {
    display: none;
  }

  &__input {
    padding: 6px 8px;
    background: none;
    border: 0;
    min-height: 30px;
    font-size: 16px;
    line-height: 20px;
    width: 100%;
    border-radius: 3px;
    color: #24292e;
    background-color: hsla(0,0%,100%,0.125);
  }
}

.authorization {
  padding: 8px 0 8px 0;
  font-size: 16px;
  font-family: 'HelveticaRegular', Arial, sans-serif;

  &__link {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
  }

  &__item {
    color: #586069;
  }
}

.show {
  display: flex!important;
}
