$HelveticaRegular: 'HelveticaRegular' , Arial, sans-serif;
$darkgray: #24292E;
$text_gray: #4a4a4a;
$border_gray: #979797;
$profile_bg: #FAFBFC;
$counter_color: #D8D8D8;
$border_hover: #E3610A;

.clean {
  margin: 0;
  padding: 0;
}

.header {
  padding: 12px 16px;
  background-color: $darkgray;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

.flex-wrapper {
  margin-top: 13px;
  width: 100%;
  flex-grow: 1;
  order:2;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

.nav {

  &__list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
  }

  &__item {
    border-top: 1px solid #444d56;
    font-size: 16px;
  }

  &__link {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
    color: white;
    text-decoration: none;
    font-family: $HelveticaRegular;
    font-weight: 300;
  }
}

.menu-button {
    background: none;
    display: block;
    border: none;
    align-self: flex-end;

    &__img {
      fill: #fff;
    }

}

.search-form {
  padding: 16px 0 16px 0;
  border-top: 1px solid #444d56;
  border-bottom: 1px solid #444d56;;

  &__select {
    display: none;
  }

  &__input {
    padding: 6px 8px;
    background: none;
    border: 0;
    min-height: 30px;
    font-size: 16px;
    line-height: 20px;
    width: 100%;
    border-radius: 3px;
    color: #24292e;
    background-color: hsla(0,0%,100%,0.125);
    }

  &__input::-webkit-search-decoration,
  &__input::-webkit-search-cancel-button,
  &__input::-webkit-search-results-button,
  &__input::-webkit-search-results-decoration {
    display: none;
    } /* DELETING standard cross in the search field */

}

.authorization {
  padding: 8px 0 8px 0;
  font-size: 16px;
  font-family: $HelveticaRegular;

  &__link {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
  }

  &__item {
    color: #586069;
  }
}

.profile-page {
  padding: 15px;
  font-family: $HelveticaRegular;
  display: flex;
  flex-wrap: wrap;
  background-color: $profile_bg;

  &__logo {
    align-self: flex-start;
  }

  &__info {
    padding-left: 15px;
    flex:1;
  }

  &__title {
    font-size: 32px;
    line-height: 38px;
  }

  &__description {
    margin-top: 17px;
    font-size: 12px;
    line-height: 14px;
    color: $text_gray;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  &__address {
    flex-grow: 1;
    flex-basis: 100%;
    margin-top: 20px;
    font-size: 12px;
    font-style: normal;
  }

  &__item {
    margin-right: 4px;
  }

  &__item:first-child .profile-page__img {
    margin-bottom: -5px;
  }

  &__img {
    margin-bottom: -3px;
  }

  &__contacts {

  }

  &__link {
    text-decoration: none;
    color: $text_gray;
  }
}

.content-nav {
  padding-left: 3px;
  padding-right: 3px;
  border-bottom: 1px solid $border_gray;
  display: flex;

  &__tab {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: $HelveticaRegular;
    color: $text_gray;
    font-size: 12px;
    line-height: 14px;
    text-decoration: none;
    margin-bottom: -1px;
    background-color: white;
    border-bottom: 1px solid $border_gray;
  }

  &__tab:hover {
    border-bottom: none;
    padding-top: 12px;
    padding-left: 14px;
    padding-right: 14px;
    border-top: 3px solid $border_hover;
    border-left: 1px solid $border_gray;
    border-right: 1px solid $border_gray;
    font-weight: bold;
  }

  &__counter {
    margin-left: 3px;
    padding-left: 4px;
    padding-right: 5px;
    background-color: $counter_color;
    border-radius: 6px;
    font-weight: bold;
  }

}

.pinned-rep {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;

  &__title {
    font-size: 16px;
    font-family: $HelveticaRegular;
    line-height: 19px;
    color: $text_gray;
  }

  &__content {
    border: 1px solid $border_gray;
    border-radius: 2px;
    padding-right: 33px;
    padding-left: 20px;
    padding-bottom: 18px;
    margin-bottom: 11px;
  }
}

.show {
  display: flex;
}
