$HelveticaRegular: 'HelveticaRegular' , Arial, sans-serif;
$darkgray: #24292E;

.clean {
  margin: 0;
  padding: 0;
}

.header {
  padding: 12px 16px;
  background-color: $darkgray;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

.flex-wrapper {
  margin-top: 13px;
  width: 100%;
  flex-grow: 1;
  order:2;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

.nav {

  &__list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
  }

  &__item {
    border-top: 1px solid #444d56;
    font-size: 16px;
  }

  &__link {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
    color: white;
    text-decoration: none;
    font-family: $HelveticaRegular;
    font-weight: 300;
  }
}

.menu-button {
    background: none;
    display: block;
    border: none;
    align-self: flex-end;

    &__img {
      fill: #fff;
    }

}

.search-form {
  padding: 16px 0 16px 0;
  border-top: 1px solid #444d56;
  border-bottom: 1px solid #444d56;;

  &__select {
    display: none;
  }

  &__input {
    padding: 6px 8px;
    background: none;
    border: 0;
    min-height: 30px;
    font-size: 16px;
    line-height: 20px;
    width: 100%;
    border-radius: 3px;
    color: #24292e;
    background-color: hsla(0,0%,100%,0.125);
    }

  &__input::-webkit-search-decoration,
  &__input::-webkit-search-cancel-button,
  &__input::-webkit-search-results-button,
  &__input::-webkit-search-results-decoration { display: none; } /* DELETING standard cross in the search field */

}

.authorization {
  padding: 8px 0 8px 0;
  font-size: 16px;
  font-family: $HelveticaRegular;

  &__link {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
  }

  &__item {
    color: #586069;
  }
}

.show {
  display: flex;
}

.profile-page {
  padding: 15px;
  font-family: $HelveticaRegular;
}
