$HelveticaRegular: 'HelveticaRegular' , Arial, sans-serif;
$darkgray: #24292E;
$text_gray: #4a4a4a;
$border_gray: #979797;
$profile_bg: #FAFBFC;
$counter_color: #D8D8D8;
$border_hover: #E3610A;
$blue_title: #3077DB;
$bg_white: #F1F8FF;
$bg_search: #3F4448;
$select-color: #B4B7B9;
$counter: #9B9B9B;
$disabled: rgba(155, 155, 155, 0.7985);
$borderGray: 1px solid $border_gray;

%Helvetica12px {
  font-family: $HelveticaRegular;
  font-size: 12px;
  line-height: 14px;
}

%paddingCalc {
  padding-right: calc( (100% - 984px)/2 );
  padding-left: calc( (100% - 984px)/2 );
}

.clean {
  margin: 0;
  padding: 0;
}

.header {
  padding: 12px 16px;
  background-color: $darkgray;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

.nav__wrapper {
  margin-top: 13px;
  width: 100%;
  flex-grow: 1;
  order:2;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

.nav {

  &__list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
  }

  &__item {
    border-top: 1px solid #444d56;
    font-size: 16px;
  }

  &__link {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
    color: white;
    text-decoration: none;
    font-family: $HelveticaRegular;
    font-weight: 300;
  }
}

.menu-button {
    background: none;
    display: block;
    border: none;
    align-self: flex-end;

    &__img {
      fill: #fff;
    }

}

.search-form {
  padding: 16px 0 16px 0;
  border-top: 1px solid #444d56;
  border-bottom: 1px solid #444d56;;

  &__select {
    display: none;
  }

  &__input {
    padding: 6px 8px;
    background: none;
    border: 0;
    min-height: 30px;
    font-size: 16px;
    line-height: 20px;
    width: 100%;
    border-radius: 3px;
    color: white;
    background-color: hsla(0,0%,100%,0.125);
    }

  &__input::-webkit-search-decoration,
  &__input::-webkit-search-cancel-button,
  &__input::-webkit-search-results-button,
  &__input::-webkit-search-results-decoration {
    display: none;
    } /* DELETING standard cross in the search field */

}

.authorization {
  padding: 8px 0 8px 0;
  font-size: 16px;
  font-family: $HelveticaRegular;

  &__link {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
  }

  &__item {
    color: #586069;
  }
}

.profile-page {
  padding: 15px;
  font-family: $HelveticaRegular;
  display: flex;
  flex-wrap: wrap;
  background-color: $profile_bg;

  &__logo {
    align-self: flex-start;
  }

  &__info {
    padding-left: 15px;
    flex:1;
  }

  &__title {
    font-size: 32px;
    line-height: 38px;
  }

  &__description {
    margin-top: 17px;
    @extend %Helvetica12px;
    color: $text_gray;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  &__address {
    flex-grow: 1;
    flex-basis: 100%;
    margin-top: 20px;
    @extend %Helvetica12px;
    font-style: normal;
  }

  &__item {
    margin-right: 4px;
  }

  &__item:first-child .profile-page__img {
    margin-bottom: -5px;
  }

  &__img {
    margin-bottom: -3px;
  }

  &__contacts {

  }

  &__link {
    text-decoration: none;
    color: $text_gray;
  }
}

.content-nav {
  padding-left: 3px;
  padding-right: 3px;
  border-bottom: $borderGray;
  display: flex;

  &__tab {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    @extend %Helvetica12px;
    color: $text_gray;
    text-decoration: none;
    margin-bottom: -1px;
    background-color: white;
    border-bottom: $borderGray;
  }

  &__counter {
    margin-left: 3px;
    padding-left: 4px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: $counter_color;
    border-radius: 6px;
    font-weight: bold;
  }

}

.pinned-rep {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;

  &__title {
    font-size: 16px;
    font-family: $HelveticaRegular;
    line-height: 19px;
    color: $text_gray;
  }

  &__content {
    border: $borderGray;
    border-radius: 2px;
    padding-right: 33px;
    padding-left: 20px;
    padding-bottom: 18px;
    margin-bottom: 11px;
  }

  &__name {
    font-family: $HelveticaRegular;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    color: $blue_title;
  }

  &__dscr {
    @extend %Helvetica12px;
    color: $text_gray;
  }
}

.markers {

  &__item {
    margin-right: 9px;
    font-size: 11px;
    line-height: 13px;
    font-family: $HelveticaRegular;
    color: $text_gray;
  }

  &__img {
    margin-right: 4px;
    margin-bottom: -2px;
  }
}

.rep-search {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;

  &__input--search {
    margin-top: 5px;
    order: 2;
    min-width: 270px;
    flex-grow: 1;
    font-family: $HelveticaRegular;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: $text_gray;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
    border-radius: 2px;
    border: $borderGray;
  }

  &__input--search::-webkit-search-decoration,
  &__input--search::-webkit-search-cancel-button,
  &__input--search::-webkit-search-results-button,
  &__input--search::-webkit-search-results-decoration {
    display: none;
  }

  &__wrapper {
    order: 0;
    flex-grow: 1;
    width: calc(50% - 45px);
  }

  &__wrapper::before {
    position: absolute;
    content: "Type:";
    font-family: $HelveticaRegular;
    color: $text_gray;
    font-size: 14px;
    line-height: 16px;
    padding-top: 10px;
    padding-left: 12px;
  }

  &__wrapper:last-child {
    margin-left: 5px;
  }

  &__wrapper:last-child::before {
    content: "Language:";
  }

  &__select {
    box-sizing: border-box;
    width: 100%;
    padding-left: 45px;
    padding-top: 8px;
    padding-bottom: 7px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: $text_gray;
    border: $borderGray;
    border-radius: 2px;
    background-image: linear-gradient(#F9FAFB,#D8D8D8);
  }

  &__wrapper:last-child .rep-search__select {
    padding-left: 77px;
  }

  &__option {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: $text_gray;
  }

}

.rep-else-wrapper {
  border-top: $borderGray;
  margin-left: 20px;
  margin-right: 20px;
}

.rep {
  border-bottom: $borderGray;

  &__title {
    margin-top: 45px;
    margin-bottom: 0;
    font-family: $HelveticaRegular;
    font-size: 20px;
    line-height: 23px;
    font-weight: bold;
    color: $blue_title;
  }

  &__descr {
    float: left;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 0;
    @extend %Helvetica12px;
    color: $text_gray;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    width: calc(60% - 50px);
  }

  &__graphic {
    margin-top: 10px;
    float: right;
    max-height: 70px;
  }

  &__tech-stack {
    clear: both;
  }

  &__tech {
    padding-top: 5px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    @extend %Helvetica12px;
    font-weight: bold;
    color: $blue_title;
    background-color: $bg_white;
    border-radius: 2px;
  }
  &__tech:first-child {
    margin-right: 9px;
  }

  &__info {
    clear: both;
    padding-left: 0;
    margin-bottom: 32px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin-left: 5px;
    font-family: $HelveticaRegular;
    font-size: 11px;
    line-height: 13px;
    color: $text_gray;
    align-self: baseline;
  }

  &__item:first-child {
    margin-left: 0;
  }

  &__item:last-child {
    width: 100%;
    margin-top: 15px;
    margin-left: 0;
  }

  &__img {
    margin-right: 4px;
    margin-bottom: 1px;
    vertical-align: bottom;
  }

  &__item:nth-child(2) .rep__img{
    margin-bottom: 0;
  }

}

.else {
  display: none;
}

.content {

  &__repositories {
    display: none;
  }

  &__people {
    display: none;
    margin-left: 20px;
    margin-right: 20px;
  }

  &__projects {
    display: none;
  }
}

.person {
  margin-top: 20px;
  border-bottom: $borderGray;
  display: flex;
  flex-wrap: wrap;

  &__img {
    align-self: baseline;
  }

  &__name {
    min-width: 200px;
    flex-grow: 1;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    align-self: center;
    font-family: $HelveticaRegular;
    font-size: 20px;
    line-height: 23px;
  }

  &__descr {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    color: $text_gray;
    @extend %Helvetica12px;
    overflow: hidden;
  }

  &__stack {
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 0;
    width: 100%;
  }

  &__skill {
    background-color: $bg_white;
    border-radius: 2px;
    @extend %Helvetica12px;
    color: $blue_title;
    font-weight: 700;
    padding: 5px 15px 7px;
    margin-top: 5px;
    margin-right: 5px;
  }

}

.pagination {
  text-align: center;
  margin-bottom: 57px;

  &__container {
    clear: both;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
  }

  &__button {
    background-color: inherit;
    border-left: none;
    border: $borderGray;
    border-left: none;
    font-family: $HelveticaRegular;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: $blue_title;
    padding: 10px;
  }

  &__button:first-child {
    border-left: $borderGray;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
  }

  &__button:last-child {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
  }

  .active {
    background-color: $blue_title;
    color: white;
  }

  .disabled {
    color: $disabled;
  }
}

.footer {
  width: calc(100% - 40px);
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-top: $borderGray;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 33px;
}

.copyrights {
  margin-top: 10px;
  text-align: right;
  width: 100%;
  order:4;
  align-self: flex-end;
  color: $text_gray;
  @extend %Helvetica12px;
}

.left-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  @extend %Helvetica12px;
  width: calc( (100% - 73px)/2 );

  &__item {
    margin-right: 6px;
  }

  &__link {
    text-decoration: none;
    color: $blue_title;
  }

  &__link:hover,
  &__link:focus {
    text-decoration: underline;
  }
}

.right-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px;
  padding-left: 0;
  list-style-type: none;
  @extend %Helvetica12px;
  width: calc( (100% - 73px)/2 );

  &__item {
    margin-right: 6px;
  }

  &__link {
    text-decoration: none;
    color: $blue_title;
  }

  &__link:hover,
  &__link:focus {
    outline: none;
    text-decoration: underline;
  }
}

@media screen and (min-width: 768px) {
  .profile-page {
    padding-left: 20px;
    padding-right: 20px;
    display: block;

    &__logo {
      float: left;
      margin-right: 17px;
    }
  }

  .content-nav {
    padding-left: 20px;
  }

  .pinned-rep {
    display: flex;
    flex-wrap: wrap;

    &__title {
      width: 100%;
    }

    &__content {
      box-sizing: border-box;
      width: calc(33% - 8px);
      margin-right:15px;
    }
    &__content:last-child {
      margin-right: 0;
    }
  }

  .rep-search {
    flex-wrap: nowrap;
    text-align: left;

    &__input--search {
      margin-top: 0;
      order: 0;
      min-width: 145px;
      max-width: 145px;
      margin-right: 5px;
    }

    &__wrapper {
      width: auto;
      flex-grow: 0;
    }

    &__select {
      width: auto;
    }
  }

  .person {
    &__name {
      width: calc(100% - 58px);
      margin-left: 10px;
      align-self: flex-start;
      text-align: left;
    }
  }
}

@media screen and (min-width: 1024px) {
  .header {
    flex-wrap: nowrap;
    @extend %paddingCalc;
  }

  .nav {

    &__wrapper {
      display: flex;
      flex-direction: row;
      margin-top: 0;
    }

    &__list {
      flex-direction: row;
      vertical-align: middle;
    }

    &__item {
      margin-left: 21px;
      border-top: none;
    }

    &__link {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }

  .search-form {
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;

    &__select {
      border: none;
      display: block;
      @extend %Helvetica12px;
      color: $select-color;
      font-weight: bold;
      background-color: $bg_search;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
      margin-right: 2px;
      padding-left: 8px;
      padding-right: 8px;
      -webkit-appearance: none;
    }

    &__input {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      @extend %Helvetica12px;
      font-weight: bold;
    }

  }

  .profile-page {
    @extend %paddingCalc;
  }

  .content-nav {
    @extend %paddingCalc;
  }

  .content {

    &__repositories,
    &__people,
    &__projects {
      @extend %paddingCalc;
    }

  }

  .menu-button {
    display: none;
  }


  .rep-else-wrapper {
    @extend %paddingCalc;
  }

  .reps-block {
    float: left;
    width: calc(100% - 320px);
  }


  .else {
    display: block;
    float: right;
    width: 300px;
  }

  .languages,
  .topics,
  .people {
    border: $borderGray;
    border-radius: 2px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 17px;
    padding-bottom: 17px;

    &__title {
      font-family: $HelveticaRegular;
      font-size: 18px;
      line-height: 21px;
      color: $text_gray;
    }

    &__item {
      font-family: $HelveticaRegular;
      font-size: 11px;
      line-height: 13px;
      color: $text_gray;
    }

    &__img {
      margin-left: 2px;
      margin-right: 2px;
      margin-bottom: -2px;
    }
  }

  .languages {

    &__item:last-child {
      margin-left: 11px;
    }
  }

  .topics {

    &__item {
      display: inline-block;
      @extend %Helvetica12px;
      font-weight: bold;
      color: $blue_title;
      background-color: $bg_white;
      border-radius: 2px;
      padding: 5px 15px 7px;
      margin-left: 4px;
      margin-right: 4px;
    }

    &__item:last-child {
      margin-top: 10px;
    }
  }

  .people {
    padding: 22px 30px 13px 18px;

    &__title {
      margin-top: 0;
      float: left;
    }

    &__counter {
      color: $counter;
      font-family: $HelveticaRegular;
      font-size: 18px;
      line-height: 21px;
      float: right;
    }

    &__button {
      margin-top: 1px;
      padding: 0;
      border: none;
      background-color: inherit;
      margin-left: -3px;
      vertical-align: middle;
    }

    &__list {
      margin-top: 21px;
      margin-bottom: 0;
      clear: both;
      padding-left: 0;
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
    }

    &__item {

    }

    &__img {
      margin-left: 1px;
      margin-right: 1px;
    }
  }

  .pagination {

    &__container {
      clear: both;
      @extend %paddingCalc;
      margin-right: 340px;
    }
  }

  .footer {
    margin-left: calc( (100% - 984px)/2 );
    margin-right: calc( (100% - 984px)/2 );
    width: 100%;
    max-width: 984px;
    display: flex;
    flex-wrap: nowrap;
    padding-top: 33px;
    padding-bottom: 66px;
    justify-content: flex-start;
    align-items: center;

    .copyrights {
      align-self: center;
      margin-top: 0;
      width: auto;
      order: 0;
    }

    &__logo {

    }
  }

  .left-list {
    margin-right: auto;
    width: auto;

    &__item {
      margin-left: 17px;
    }

  }

  .right-list {
    width: auto;
    margin-left: auto;

    &__item {
      margin-left: 17px;
    }
  }
}

.active-tab {
  border-bottom: none;
  padding-top: 12px;
  padding-left: 14px;
  padding-right: 14px;
  border-top: 3px solid $border_hover;
  border-left: 1px solid $border_gray;
  border-right: 1px solid $border_gray;
  font-weight: bold;
}

.show-tab {
  display: block;
}

.show {
  display: flex;
}
